
/* Se aplica a todos los elementos  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* para ver el diseño de la web, útli para depurar*/
    background-color: red;
}


/* Grande, con un ancho de pantalla mayor de 1024px. (monitor)*/
@media (min-width: 1025px) {


/* Contenedor principal ahora se aplica a todos los dispostivos, aunque corresponde al tamaño grande de la pantalla */
.grid-container {
    display: grid;
    grid-template-areas:
        "barra1 barra2"
        "main-content main-content"
        "footer footer";
    grid-template-rows: 10vh 1fr auto; /* Altura: encabezado, contenido flexible, pie */
    grid-template-columns: 5fr 1fr;/*250px 1fr; /* Ancho: barra lateral fija, contenido flexible */
    min-height: 100vh;
    margin-left: 2vh;
    margin-right: 2vh ;
}

/* Estilo para las áreas */
#barra1 {
    grid-area: barra1;
    background-color: #4CAF50;
    color: white;
    text-align: left;
}
#barra2 {
    grid-area: barra2;
    background-color: #f4f4f4;

}
.main-content {
    grid-area: main-content;
    background-color: #fff;
    padding: 20px;
}
.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
}

/*Mediano, con un ancho de pantalla de hasta 1024px. (tablets en horizontal)*/
@media (min-width:769px) and (max-width:1024px){


}

/*Normal, con un ancho de pantalla con un máximo de 768px. (tablets verticales)*/
@media (min-width:481px) and (max-width:768px){

}

/*Compactos, con un ancho de pantalla máximo de 480px. (móviles)*/

@media (max-width:480px){
    
}