/* Grande, con un ancho de pantalla mayor de 1024px. (monitor)*/
@media (min-width: 1025px) {

    /*margen de la pagina web*/
    * {
        margin: 30px;
    }

    /*----------------------------------HEADER---------------------------------------------*/
    /*header*/
    header {
        background-color: aqua;
    }

    /*carrrusel*/
    .carousel {
        width: 800px;
        justify-content: center;
    }

    /* ponemos carrusel y texo del header en linea*/
    #carruselytexto {
        display: flex;
    }

    /*ponemos en linea las dos barras*/
    .dosnav,
    nav ul {
        display: flex;
        background-color: rgb(31, 117, 117);

    }

    /*texto*/
    #texto{
        font-size: 200%;
    }



    /*------------------------------------------------MAIN----------------------------------------*/
    main {
        background-color: brown;
    }

    /*targetas*/
    .card {
        width: 250px;

    }

    /*Aplico grid para las targetas */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        /* Se ajustan solas */
        gap: 20px;
        /* Espacio entre tarjetas */
        padding: 20px;
    }




    /*Mediano, con un ancho de pantalla de hasta 1024px. (tablets en horizontal)*/
    @media (min-width:769px) and (max-width:1024px) {}

    /*Normal, con un ancho de pantalla con un máximo de 768px. (tablets verticales)*/
    @media (min-width:481px) and (max-width:768px) {}

    /*Compactos, con un ancho de pantalla máximo de 480px. (móviles)*/

    @media (max-width:480px) {}